@model ticket_without_mail.Models.IndexViewModel
@{
    ViewBag.Title = "Опции на профилот";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Промена на кориснички поставки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Лозинка:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Промени ја лозинката", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        </dd>
    </dl>
</div>
